.container {
  display: inline-block;
  width:97%;
  background-color: #fff;
  border:1px solid #f2f2f2;
  margin-bottom: 1em;
  color: #000;
  text-decoration: none;
  cursor:pointer;   /*小手标志*/
}

/* 导航栏上的颜色 */
.color {
  color:#fff;
}

.hoverStyle:hover {
  background-color: rgba(255,255,255,.2)
}

.hoverStyle a{
  color:#fff;
  text-decoration: none;
}

.hoverStyle a:hover {
  color:#f7b200;
}

/* 面包屑上的颜色 */
.breadColor {
  color: #666;
}

/* 三角形 */

.trigon::before {
  display: block;
  content: '';
  width: 13px;
  height: 13px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  top: -6px;
  margin-left: 1em;
}
